* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Consolas';
}
#root {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
header {
  top: 0;
  position: relative;
  margin-bottom: auto;
  height: 100px;
  width: 100%;
  background-color: #0065a4;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.div-norm {
  display: flex;
  align-items: center;
}
.div-norm > a > img {
  height: 80px;
  margin-left: 20px;
  background-color: #0065a4;
  border: 5px solid white;
  border-radius: 20px;
}
.div1 {
  text-align: center;
  margin-left: 20px;
  color: white;
}
.div1 > h1 {
  font-size: 50px;
}
header > h1 > a, header > ul > li > a {
  color: white;
}
header > h1 {
  margin-left: 40px;
}
header > ul {
  display: flex;
  font-size: 20px;
}
header > ul > li {
  margin-right: 40px;
  display: flex;
  align-items: center;
}
header > ul > li > a:hover {
  text-decoration: underline;
}
.sub {
  height: auto;
  width: auto;
  background-color: white;
  color: #232536;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
}
footer {
  width: 100%;
  height: 35vh;
  background-color: #0065a4;
  bottom: 0;
  position: relative;
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer {
  width: 90%;
  height: 90%;
  background-color: #0065a4;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.nav {
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav > ul {
  display: flex;
  font-size: 15px;
}
.nav > ul > li {
  margin-right: 40px;
  display: flex;
  align-items: center;
}
.nav > ul > li:last-child {
  margin-right: 0;
}
.nav > ul > li > a {
  color: white;
  font-size: 20px;
}
.nav > ul > li > a:hover {
  text-decoration: underline;
}
.subscribe {
  height: 40%;
  width: 100%;
  background-color: #00588f;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.subscribe > h3 {
  margin-left: 40px;
  font-size: 25px;
}
.subscribe > ul {
  display: flex;
  font-size: 15px;
}
.subscribe > ul > li {
  margin-right: 20px;
  display: flex;
  align-items: center;
}
.subscribe > ul > li:last-child {
  margin-right: 40px;
}
.subscribe > ul > li > input {
  height: 7.5vh;
  width: 400px;
  font-size: 20px;
  border: 2px solid white;
  color: white;
  background-color: #003d63;
  padding-left: 20px;
}
.sub-mail {
  height: 7.5vh;
  width: 40px;
  background-color: white;
  color: #0065a4;
  padding-left: 12.5px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  font-size: 20px;
}
.info {
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.info > p {
  opacity: 0.75;
  color: white;
}
.info > ul {
  display: flex;
  font-size: 15px;
}
.info > ul > li {
  margin-right: 40px;
  display: flex;
  align-items: center;
}
.info > ul > li:last-child {
  margin-right: 0;
}
.info > ul > li > a {
  color: white;
}
.info > ul > li > a:hover {
  text-decoration: underline;
}
.info > ul > li > a > img {
  opacity: 0.75;
  width: 30px;
}
.step {
  height: 87.5vh;
  width: 100%;
  background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/e3bc38bf-b82a-4ce8-8719-5c3c1a9c262e/dfocmox-082438d0-c9c0-4ee6-a28d-72d9e3d76160.jpg/v1/fill/w_1192,h_670,q_70,strp/windows_xp_bliss_with_stars_at_night_wallpaper_by_sambox436_dfocmox-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NzIwIiwicGF0aCI6IlwvZlwvZTNiYzM4YmYtYjgyYS00Y2U4LTg3MTktNWMzYzFhOWMyNjJlXC9kZm9jbW94LTA4MjQzOGQwLWM5YzAtNGVlNi1hMjhkLTcyZDllM2Q3NjE2MC5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.yE4iAOmQTB_pNerSI8ni2wKzzmfzkmW3IUyEC6DtReE');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.step-content {
  height: 80%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.step-content > p, .step-content > h1 {
  color: white;
}
.step-content > h1 {
  font-size: 50px;
  margin-top: -20px;
}
.step-content > p {
  font-size: 20px;
}
.step-content > p > a {
  color: #0065a4;
}
.read {
  margin-top: 25px;
  height: auto;
  width: 200px;
  background-color: #0065a4;
  color: white;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 5px;
  font-size: 20px;
}
.internet {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.internet-content {
  height: 85%;
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.int-pics {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 20px 0;
}
.int-pics > img {
  width: 400px;
  height: 400px;
  box-shadow: 10px 10px 10px #0065a4;
  border-radius: 20px;
  border: 1px solid #0065a4;
}
.int-text {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 25px;
  color: black;
  box-shadow: 10px 10px 10px #0065a4;
  margin-top: 10px;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #0065a4;
}
.catagory {
  height: 70vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.catagory-content {
  height: 85%;
  width: 95%;
  display: flex;
  flex-direction: column;
}
.choose {
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: auto;
}
.choose > h1 {
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: auto;
  color: black;
}
.cats {
  height: 80%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cat-card {
  height: 100%;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 10px 10px 10px #0065a4;
  border-radius: 20px;
  border: 1px solid #0065a4;
  padding-left: 10px;
}
.cat-card > a > h1 {
  font-size: 40px;
  margin-bottom: 40px;
  color: black;
}
.cat-card > p {
  color: black;
}
.test {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.test-content {
  height: 85%;
  width: 95%;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: 10px 10px 10px #0065a4;
  border-radius: 20px;
  border: 1px solid #0065a4;
}
.tests {
  height: 75%;
  width: 40%;
  padding-left: 50px;
}
.tests > strong, .tests > p {
  font-size: 20px;
}
.tests > h1 {
  font-size: 50px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.delimeter {
  height: 75%;
  border: 1px solid #6D6E76;
}
.test-text {
  height: 75%;
  width: 60%;
  padding-left: 40px;
}
.text {
  height: 80%;
  width: 100%;
}
.text > p {
  font-size: 50px;
  margin-right: 20px;
}
.test-author {
  height: 20%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.test-author > img {
  height: 60px;
  width: 60px;
  object-fit: cover;
  border-radius: 100%;
}
.test-name {
  display: flex;
  flex-direction: column;
  margin-left: 25px;
  font-size: 25px;
}
.user-list {
  height: 230vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.user-list-content {
  height: 95%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 10px 10px 10px #0065a4;
  border-radius: 20px;
  border: 1px solid #0065a4;
  padding-top: 15px;
  padding-bottom: 10px;
}
.user-list-content > h1 {
  text-align: center;
  color: #333;
  margin-bottom: 10px;
}
.user-list-content > ul {
  list-style-type: none;
  padding: 0;
  width: 80%;
}
.user-list-content > ul > li {
  margin: 5px 0;
  padding: 15px;
  box-shadow: 5px 5px 5px #0065a4;
  border-radius: 20px;
  border: 1px solid #0065a4;
}
.user-info {
  margin: 5px 0;
  color: #555;
  font-size: 10px;
}
.registration-form {
  height: 150vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.registration-form-content {
  padding: 20px;
  max-width: 600px;
  margin: auto;
  height: 90%;
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 10px 10px 10px #0065a4;
  border-radius: 20px;
  border: 1px solid #0065a4;
}
.registration-form-content > h1 {
  text-align: center;
  color: #333;
  margin-bottom: 30px;
}
.registration-form-content > form {
  display: flex;
  flex-direction: column;
}
.registration-form-content > form > div {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}
.registration-form-content > form > div > label {
  margin-bottom: 5px;
  color: #555;
  font-size: 20px;
}
.registration-form-content > form > div > input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 20px;
}
.registration-form-content > form > button {
  padding: 10px;
  background-color: #0065a4;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 30px;
}
@media (max-width: 1550px) {
  .subscribe > h3 {
    font-size: 15px;
  }
}
@media (max-width: 1250px) {
  .int-pics > img {
    width: 300px;
    height: 300px;
  }
  .int-text > p {
    font-size: 20px;
  }
}
@media (max-width: 1180px) {
  .div1 > h1 {
    font-size: 30px;
  }
  .div1 > i {
    font-size: 10px;
  }
}
@media (max-width: 950px) {
  .text > p {
    font-size: 40px;
  }
  .internet {
    height: 200vh;
  }
  .catagory {
    height: 100vh;
  }
  .int-pics {
    flex-direction: column;
  }
  .int-pics > img {
    width: 350px;
    height: 350px;
  }
  .int-text > p {
    font-size: 15px;
  }
  .div1 > h1 {
    font-size: 0px;
  }
  .div1 > i {
    font-size: 0px;
  }
  footer {
    height: 60vh;
  }
  .subscribe {
    flex-direction: column;
    padding: 15px 0;
  }
  .choose {
    padding-top: 40px;
  }
  .subscribe > h3 {
    margin-left: 0;
    text-align: center;
  }
}
@media (max-width: 700px) {
  .cat-card > a > h1 {
    font-size: 20px;
  }
  .tests > h1 {
    font-size: 30px;
  }
  .text > p {
    font-size: 30px;
  }
  .subscribe > ul > li > input {
    width: 250px;
  }
}